@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-slate-100;
  overscroll-behavior: none;
}
* {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
